/* Write your CSS here */
.list-container {
  padding-right: 7px;
}
.tab-btn {
  font-family: 'Roboto';
  color: #7b8794;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 14px;
}
.active-tab-btn {
  border-bottom: 2px solid #2563eb;
  color: #2563eb;
}
